body {
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
}

header {
    background-color: rgb(76, 150, 215);
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 60px;
}

.HT1 {
    margin: 0;
    font-size: 55px;
    color: white;
}

#nava {
    background: transparent !important;
    font-size: 22px;
}

.nav-link {
    color: white !important;
    margin-left: 20px;
}

.nav-link:hover {
    color: #dcefff !important;
}

main {
    text-align: center;
    padding-top: 70px;
}

.MT1 {
    font-size: 45px;
    max-width: 850px;
    margin: auto;
}

#MI1 {
    width: 350px;
    max-width: 90%;
    display: block;
    margin: 50px auto;
    font-family: "cairo", sans-serif;

}

#MB1 {
    width: 170px;
    height: 50px;
    font-size: 22px;
    border-radius: 10px;
}
.MT2 {
    font-family: "cairo", sans-serif;
    margin: 5rem auto 1.85rem auto;

}
footer {
    background-color: rgb(76, 150, 215);
    height: 5.7rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.FT1 {
    color: white;
    margin-top: 1.65rem;

}
#DarkMode {
    background-color: rgb(255, 255, 255, 0) !important;
    border-color: rgb(255, 255, 255, 0) !important;
    
    
}
.MTE1 {
    max-width: 45rem;
    margin: auto;
    font-family: "cairo", sans-serif;

}
.MTE2 {
    max-width: 40rem;
    margin: 6rem auto auto auto;
    font-size: 1.8rem;
    font-family: "cairo", sans-serif;
}

.MLE1 {
    width: 10rem;
    margin-top: 5.5rem;
}
.MTE3 {
    margin-top: 2rem;
}